version: 2.1

jobs:
  build:
    resource_class: small
    docker:
      - image: ubuntu:24.04
    steps:
      - checkout
      - run: apt-get update
      - run: DEBIAN_FRONTEND=noninteractive TZ=Europe/Brussels apt-get install -y gcc g++ libsfml-dev cmake git build-essential
      - run: mkdir -p build
      - run: cd build && cmake ..
      - run: cd build && make

workflows:
  version: 2
  build_workflow:
    jobs:
      - build