version: 2.1
jobs:
  build:
    docker:
      - image: cimg/base:current
    steps:
      - checkout
      - run:
          name: Install Dependencies
          command: |
            sudo apt-get update
            sudo apt-get install -y build-essential cmake libsfml-dev
      - run:
          name: Configure
          command: cmake -S . -B build
      - run:
          name: Build
          command: cmake --build build
workflows:
  version: 2
  build_workflow:
    jobs:
      - build
